# Build artifacts
/ppsh
/ppsh_*.deb
/ppsh_*.changes
/Makefile
/ppsh.pro.user
/ppsh.pro.user.*.bak
/.buildtmp/
/.qmlcheck/
/moc/
/obj/
/rcc/
/ui/

# Qt creator / test build output
*.o
*.moc
/qml/refreshtest*/
/qml/test-refresh.qml

# Editor / OS noise
.DS_Store
Thumbs.db
